
{% extends 'base.html.twig' %}
{% block title %}Ajouter un salarié{% endblock %}

{% block body %}


    <h1 class="text-center m-3">Ajouter un salarié</h1>
    {{ include('user/_form.html.twig') }}


{% endblock %}
